<html>
<body>
	<p>Title: {{book.title}}</p>
	<p>Summary: {{book.summary}}</p>
	<p>Author: {{book.author}}</p>
	<p>Publisher: {{book.publisher}}</p>
	<p>Publication Year: {{book.publicationYear}}</p>

	
	<a href="/book/{{book.id}}/delete">Delete book</a>
	<br>
	
	<a href="/">Back</a>

	<h1>Reviews</h1>
	<a href="/review/new/{{book.id}}">Create a review</a>
	{{#reviews}}
	<p>Rating: {{rating}}</p>
	<p>Comment: {{comment}}</p>
	<a href="/review/{{book.id}}/{{id}}/delete">Delete review</a>
	<br>

	{{/reviews}}
	
	{{^reviews}}
	<p>No reviews yet.</p>
	{{/reviews}}
</body>
</html>